.MiddleContent {
	max-width: 1440px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.middle-content-container {
	max-width: 1100px;
	width: 100%;
	background-image: url('../../images/bg-shorten-desktop.svg');
	background-size: cover;
	background-color: var(--dark-violet);
	padding: 50px 0;
	border-radius: 10px;
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	transform: translateY(70px);
}

.input-error-container {
	max-width: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.input-error-container input {
	border: none;
	outline: none;
	font-size: 19px;
	padding: 15px 15px;
	border-radius: 10px;
}

.error-message {
	display: none;
	position: absolute;
	transform: translateY(25px);
	font-size: 16px;
	color: var(--red);
}

.input-error-container input::placeholder {
	color: var(--grayish-violet);
	font-weight: 600;
}

/* .activated-error-message input {
	border: 2px solid var(--red);
}

.activated-error-message input::placeholder {
	color: var(--red);
} */

.shorten-link-button {
	border: none;
	background-color: var(--cyan);
	padding: 15px 28px;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.shorten-link-button:hover {
	background-color: hsl(180, 47%, 74%);
}

@media screen and (max-width: 780px) {
	.middle-content-container {
		background-image: url('../../images/bg-boost-mobile.svg');
		max-width: 375px;
		transform: translateY(90px);
		flex-direction: column;
		gap: 35px;
		padding: 25px 0;
	}

	.input-error-container {
		max-width: 330px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.input-error-container input {
		border: none;
		font-size: 19px;
		padding: 15px 15px;
		border-radius: 10px;
	}

	.error-message {
		position: absolute;
		transform: translateY(25px);
		font-size: 16px;
		color: var(--red);
	}

	.button-container {
		max-width: 330px;
		width: 100%;
	}

	.shorten-link-button {
		width: 100%;
	}
}
