#root {
	height: 100vh;
	display: flex;
	justify-content: center;
}

.App {
	max-width: 1440px;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-bar-top-content-container {
	max-width: 1100px;
	width: 100%;
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 780px) {
	.nav-bar-top-content-container {
		max-width: 375px;
	}
}
